{% include "header.html" %}

<header class="masthead page-masthead" style="background-image: url('https://res.cloudinary.com/dxxkklkqy/image/upload/q_auto,f_auto/v1767996799/about-bg_irziwj.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading text-center no-box">
          <h1 class="sanskrit-title">तरंगीता</h1>
          <span class="subheading cursive-text">... where <span class="highlight-reflection">reflection</span> begins<br>and <span class="highlight-ripple">ripples</span> follow ...</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container-fluid px-4 px-lg-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="post-content about-content">
          <p><span class="sanskrit-inline">तरंगीता</span> is a piece of my heart, a quiet pause in the middle of movement. It is where I let my thoughts flow, slowly, honestly.</p>
          <p>This blog holds <span class="highlight-reflection">reflections</span> from my inner world, a digital documentation of my thoughts on spirituality, technology, and other personal moments that shape me. Some thoughts are deeply personal, some analytical, some still searching for words. But all of them, honest.</p>
          <p>I write here not to arrive at answers, but to ask better questions. To listen inward. And to let my ideas <span class="highlight-ripple">ripple</span> beyond me, gently, thoughtfully, and with an intention to touch.</p>
          <p><span class="sanskrit-inline">तरंगीता</span> is not about perfection or certainty. It is about presence, curiosity, and becoming.</p>
          <p class="fst-italic mt-4" style="color: var(--coral);">I welcome you to be a part of my journey.</p>
        </div>
      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}
