{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<header class="masthead page-masthead" style="background-image: url('https://res.cloudinary.com/dxxkklkqy/image/upload/q_auto,f_auto/v1767996799/edit-bg_xmzwg9.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>{% if is_edit %}Edit Post{% else %}New Post{% endif %}</h1>
          <span class="subheading">You're going to make a great blog post!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        <script nonce="{{ csp_nonce }}">
        CKEDITOR.on('dialogDefinition', function(ev) {
          if (ev.data.name === 'image') {
            var infoTab = ev.data.definition.getContents('info');
            var align = infoTab.get('cmbAlign');
            if (align) {
              align.items.push(['Center', 'center']);
              var origCommit = align.commit;
              align.commit = function(type, element) {
                var val = this.getValue();
                if (type === 1 || type === 4) {
                  if (val === 'center') {
                    element.setStyle('display', 'block');
                    element.setStyle('margin-left', 'auto');
                    element.setStyle('margin-right', 'auto');
                    element.removeStyle('float');
                  } else {
                    element.removeStyle('display');
                    element.removeStyle('margin-left');
                    element.removeStyle('margin-right');
                    if (val) element.setStyle('float', val);
                    else element.removeStyle('float');
                  }
                }
              };
              var origSetup = align.setup;
              align.setup = function(type, element) {
                if (type === 1) {
                  var ml = element.getStyle('margin-left');
                  var mr = element.getStyle('margin-right');
                  var disp = element.getStyle('display');
                  if (disp === 'block' && ml === 'auto' && mr === 'auto') {
                    this.setValue('center');
                    return;
                  }
                }
                if (origSetup) origSetup.apply(this, arguments);
              };
            }
          }
        });
        </script>
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="mb-3">{{ form.title.label(class="form-label") }}{{ form.title(class="form-control") }}</div>
          <div class="mb-3">{{ form.subtitle.label(class="form-label") }}{{ form.subtitle(class="form-control") }}</div>
          <div class="mb-3">{{ form.category.label(class="form-label") }}{{ form.category(class="form-select") }}</div>
          <div class="mb-3">
            {{ form.media_url.label(class="form-label") }}
            {{ form.media_url(class="form-control", placeholder="https://example.com/image.jpg") }}
            <div class="form-text">Enter a URL or upload below</div>
          </div>
          <div class="mb-3">
            {{ form.media_upload.label(class="form-label") }}{{ form.media_upload(class="form-control") }}
            <div class="form-text">Images: JPG, PNG, GIF, WebP | Videos: MP4, MOV, AVI, WebM, MKV</div>
          </div>
          {% if is_edit and post %}
          <div class="mb-3">
            <label class="form-label">Current Media</label>
            <div class="border rounded p-2">
              {% if post.media_type == 'video' %}
              <video controls class="w-100" style="max-height: 200px;"><source src="{{ post.media_url }}" type="video/mp4"></video>
              {% else %}
              <img src="{{ post.media_url }}" class="img-fluid" style="max-height: 200px;" alt="Current">
              {% endif %}
            </div>
          </div>
          {% endif %}
          <div class="mb-3">{{ form.body.label(class="form-label") }}{{ form.body(class="form-control") }}</div>
          <div class="d-grid">{{ form.submit(class="btn btn-primary btn-lg") }}</div>
        </form>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
